/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Banner Section */
.banner {
    background-image: url("/EXP/assets/images/vancouver.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(239, 240, 234); /* Add a color that matches the image */
    background-blend-mode: multiply;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: brown;
}
/* Logo */
.logo-image {
    position: absolute;
    top: 20px; /*top position from the upper border of containter*/
    left: 20px; /*left position from the left border of container */
    height: 50px; /* width will adjust according to ratio of the original image */
}

/* Text Styling */
.text-content {
    display: flex;
    flex-direction: column;
}
.text-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0; /* space between two elements, pushing two elements apart */
    padding-top: 0px;
    color: #1c0e05;
}

.text-content p {
    font-size: 24px;
    margin-top: 0px;
    color: #1c0d04; /* #1b0c03f1, #1c0d04*/
    font-weight: bold;
}

/* About Section */
.about {
    background-color: #1f5a7f;
    padding: 40px 20px;
    color: white;
    display: flex;
    /*justify-content: center;*/
    text-align: left;
}

.about-content {
    max-width: 800px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-image {
    max-width: 200px;
    height: auto;
}
/* Service Section */
.services {
    background-color: #96aab6ee;
    padding-left: 40px;
}

/* Contact Section */
.contact {
    display: flex;
    align-items: center;
    background-color: #1f5a7f;
    color: black;
    padding: 40px 20px;
    text-align: left;
}

.contact-image {
    max-width: 150px;
    margin-right: 20px;
}

.contact-info {
    max-width: 600px;
    font-weight: bold;
}

.contact-info h2 {
    margin-top: 0;
}

.contact-info a:hover {
    margin: 5px 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.contact a {
    color: black; /* Change this to #333333 for a deep grey */
    text-decoration: none; /* Optional: Remove underline */
    font-weight: bold;
    font-size: 18px;
}
/*
.contact a:hover {
    color: #666666;  Optional: Add a hover effect with a slightly lighter grey 
}*/

/* Media Queries */
@media (max-width: 767px) {
    .banner {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 40vh; /* Set a smaller height for mobile */    
    }
    .text-content, .about-content, .contact, .contact-info {
        display: flex;
        flex-direction: column;
    }
    .text-content {
       /* margin-top: 5px;*/
        align-items: center;  /* vertically */
        text-align: left;
        margin: auto;
    }
    .about-content {
        align-items: center;  /*vertically*/
        width: 100%;
    }
    .about-image {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .about-content p {
        width: 100%;
        text-align: left;
    }
    .logo-image {
        position: absolute;
        top: 10px; /*top position from the upper border of containter*/
        left: 10px; /*left position from the left border of container */
        height: 30px;
    }

    .contact, .contact_info {
        text-align: left;
    }
    .text-content h1, .banner h1 {
        font-size: 36px;
    }

    .banner p {
        font-size: 18px;
    }
    .contact-image {
        width: 100%; 
        height: auto;
    }
 
}